# cabal
dist
dist-*
cabal.project.local
cabal.project.local~

# hakyll
_cache
_site

# nix
result
result-*

# vim
*~
*.swp
*.swo

# direnv
.direnv

# claude
docs

# wrangler
node_modules
.dev.vars
.wrangler

/.pre-commit-config.yaml
.worktrees
